<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javaclimb.jxnu.dao.CommentsMapper">
    <insert id="addComments">
        insert into comments ( post_id, user_id, comments_content) values(#{post_id},#{user_id},#{comments_content})

    </insert>
    <select id="findAllComments" resultType="com.javaclimb.jxnu.domain.Comments">
        SELECT *
        FROM comments
    </select>

    <select id="findCommentsByPostID"  resultType="com.javaclimb.jxnu.domain.Comments">
        SELECT *
        FROM comments
        WHERE post_id = #{post_id}
    </select>

    <select id="findCommentsByPostIDL"  resultType="com.javaclimb.jxnu.domain.Comments">
        SELECT *
        FROM comments
        WHERE post_id = #{post_id}
    </select>


    <select id="findCommentsByUserID"  resultType="com.javaclimb.jxnu.domain.Comments">
        SELECT *
        FROM comments
        WHERE user_id = #{user_id}
    </select>

    <select id="findCommentsByUserIDL"  resultType="com.javaclimb.jxnu.domain.Comments">
        SELECT *
        FROM comments
        WHERE user_id = #{user_id}
    </select>

    <delete id="deleteComments">
        delete from comments where post_id = #{post_id}
    </delete>
</mapper>